<div class="hero">
  <h1>Thanks for linking Github</h1>
</div>

<div class="box">
  <p>
    <strong>✅ Your Botkit app is correctly deployed and running!</strong>
    Connect it to Slack to complete the setup.
  </p>


</div>